apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "5s"

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: 'prometheus'
          matcherRegex: 'traceID=(\\w+)'
          name: 'TraceID'
          url: '$${__value.raw}'

  - name: Tempo
    type: tempo
    access: proxy
    url: http://tempo:3200
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: 'loki'
        filterByTraceID: true
        filterBySpanID: true
        mapTagNamesEnabled: false
        mappedTags:
          - key: 'service.name'
            value: 'service'
      nodeGraph:
        enabled: true
      serviceMap:
        datasourceUid: 'prometheus'
